.header__lang-link {
  font-weight: 400;
  color: #FFF;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

.header__lang-link:first-child {
  margin-right: 15px;
  border-bottom: 1px solid #FFF;
}

@media (min-width: 320px) and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}