.cover__title {
  margin: 0 0 32px 0;
  text-align: center;
  max-width: 560px;

  font-weight: 900;
  color: #FFF;
  font-size: 72px;
  line-height: 1.05;

  position: relative;
}

@media (max-width: 530px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}