.container {
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto 92px auto;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .container {
    margin-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}